[submodule "externals/zmk-sofle"]
	path = externals/zmk-sofle
	url = https://github.com/wrvsrx/zmk-sofle.git
[submodule "externals/zmk-sofle-dongle"]
	path = externals/zmk-sofle-dongle
	url = https://github.com/wrvsrx/zmk-sofle-dongle.git
[submodule "externals/zmk-config-offsetkey"]
	path = externals/zmk-config-offsetkey
	url = https://github.com/a741725193/zmk-config-offsetkey.git
